
@font-face {
    font-family: "parastoo";
    src: url('../fonts/Parastoo-FD.eot') format('embedded-opentype'),
         url('../fonts/Parastoo-FD.woff') format('woff'),
         url('../fonts/Parastoo-FD.woff2') format('woff2'),
         url('../fonts/Parastoo-FD.ttf') format('truetype');
    font-weight: normal;
  }
  body{
    font-family: 'parastoo', serif !important;
}
h1,h2,h3,h4,h5,h6,p,a,b{
    direction: rtl;
    font-family: 'parastoo', serif !important;
}

.post-content{
    text-align: justify !important;
}
h1{
    direction: rtl !important;
}
._77e6489572d387e13a5108b5d61ffcdd\.css,._00a1bc3fa62f4a852a2373f946f5a98a\.css,._959b48642342de3ec364136e6d307ec8\.css,label.aad47099623914a20a5ec43013131800\.css, input,textarea{
    text-align: right !important;
}
.navbar, .headfont,.copyright, input,textarea{
    direction: rtl !important;
}

.navbar, .headfont{
    text-align: right !important;
}

.text-in-mobile{
    text-align: left !important;
}

.post-main-wrapper{
    direction: rtl !important;
    text-align: right !important;
}

label.aad47099623914a20a5ec43013131800\.css:nth-child(3) > input:nth-child(1),code{
    direction: ltr !important;
    text-align: left !important;
}

.toc-nav a.nav-link.active, .toc-nav a.nav-link:active{
    border-left: 0;
    border-right: .125rem solid var(--active-color);
}

.toc-nav a.nav-link:hover{
    border-left: 0;
    border-right: .025rem solid var(--active-color);
}

.just-comments>div>div, .just-comments>div>p, .just-comments>div>div>form>div>div>div>label,.just-comments>div>div>form>div>div>div>div,.just-comments>div>div>form>div>label{
    direction: rtl !important;
    text-align: right;
}

.just-comments > div > div{
    margin-right: 0 !important;
    margin-left: 100px;
}
.just-comments>div>div>form>div>div>div>div>span{

    text-align: right !important;
    direction: rtl !important;

}
.download-box{
    border: 1px solid #eee;
background: #eee;
border-radius: 5px;
padding: 15px;
}

.download-box>div{
    border: 1px solid #CFD8DC;

    border-radius: 5px;
    
    background: #CFD8DC;
    
    padding: 10px;
}

.download-box>div>a{
    color: #00796B;
font-weight: bold;
}

.download-box>div>a:hover{
    color: #283593;
}

.download-box>div>p{
    color: #283593;
}

.d-line{
    display: inline;
}

.li-x .post-meta>li,.li-x .post-meta>li>a,.li-x .post-meta>li>a>span{
    direction: rtl !important;
}
@media only screen and (max-width: 767px){
    .text-in-mobile{
        text-align: center !important;
    }
    .text-mobile-center{
        text-align: center !important;
        padding-left: 15px !important;
    }
    .post-heading{
        font-size: 20px !important;
    }
    .display-3{
        font-size: 30px;
    }
    div.post-wrapper{
        text-align: justify;
    }
    .post-main-wrapper{
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
  }
  

  .pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #484545;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
    background-color: #fff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #484545;
    border-color: #484545;
}

.pagination .page-item.active .page-link{
    background-color: rgb(56, 132, 158) !important
}
.info {
    padding: 20px;
    background-color: #2196F3; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

.info_link{
    color: #fff !important;
}

.pr-1, .px-1{
    padding-right: 0% !important;
    padding-left: .25rem !important;
}

div.col-md-6:nth-child(2) > a:nth-child(1){
    float: left;
}