
@font-face {
    font-family: "parastoo";
    src: url('../fonts/Parastoo-FD.eot') format('embedded-opentype'),
         url('../fonts/Parastoo-FD.woff') format('woff'),
         url('../fonts/Parastoo-FD.woff2') format('woff2'),
         url('../fonts/Parastoo-FD.ttf') format('truetype');
    font-weight: normal;
  }
  body{
    font-family: 'parastoo', serif !important;
}
h1,h2,h3,h4,h5,h6,p,a,b{
    font-family: 'parastoo', serif !important;
}

.post-content{
    text-align: justify !important;
}
h1{
    direction: rtl !important;
}
._77e6489572d387e13a5108b5d61ffcdd\.css,._00a1bc3fa62f4a852a2373f946f5a98a\.css,._959b48642342de3ec364136e6d307ec8\.css,label.aad47099623914a20a5ec43013131800\.css, input,textarea{
    text-align: right !important;
}
.navbar, .headfont,.copyright, input,textarea{
    direction: rtl !important;
}

.navbar, .headfont{
    text-align: right !important;
}

.text-in-mobile{
    text-align: left !important;
}

.post-main-wrapper{
    direction: rtl !important;
    text-align: right !important;
}

label.aad47099623914a20a5ec43013131800\.css:nth-child(3) > input:nth-child(1),code{
    direction: ltr !important;
    text-align: left !important;
}

.toc-nav a.nav-link.active, .toc-nav a.nav-link:active{
    border-left: 0;
    border-right: .125rem solid var(--active-color);
}

.toc-nav a.nav-link:hover{
    border-left: 0;
    border-right: .025rem solid var(--active-color);
}

.just-comments>div>div, .just-comments>div>p, .just-comments>div>div>form>div>div>div>label,.just-comments>div>div>form>div>div>div>div,.just-comments>div>div>form>div>label{
    direction: rtl !important;
    text-align: right;
}

.download-box{
    border: 1px solid #eee;
background: #eee;
border-radius: 5px;
padding: 15px;
}

.download-box>div{
    border: 1px solid #CFD8DC;

    border-radius: 5px;
    
    background: #CFD8DC;
    
    padding: 10px;
}

.download-box>div>a{
    color: #00796B;
font-weight: bold;
}

.download-box>div>a:hover{
    color: #283593;
}

.download-box>div>p{
    color: #283593;
}

.d-line{
    display: inline;
}